[Unit]
Description=Sumaris DB {{ username }} Backup
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/opt/{{ username }}/{{ target_dir }}/
User={{ username }}
Group={{ username }}
ExecStart=/opt/{{ username }}/{{ target_dir }}/bin/sumaris-db-hsqldb.sh backup

[Install]
WantedBy=multi-user.target

