[Unit]
Description=Backup sumaris-db-{{ username }} database
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

WorkingDirectory=/opt/{{ username }}/{{ target_dir }}/

User={{ username }}
Group={{ username }}

ExecStart=/opt/{{ username }}/{{ target_dir }}/bin/sumaris-db-hsqldb.sh backup

[Install]
WantedBy=multi-user.target